@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "ABOUT BREASTFEEDER";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>BreastFeeder is a web application that helps you record  </p>
<p>your breastfeeding so that you can easily track it </p>
<p>without too many genes. So you can also browse them </p>
<p>according to the breastfeeding rating to know which  </p>
<p>breast is most succeptible still contain milk when </p>
<p>breastfeeding. also the time recording allows you to </p>
<p>plan the gaps between the meals of your little darling</p>
<p>plan the gaps between the meals of your little darling</p>