@{
    ViewData["Title"] = "Contact";
    ViewData["Message"]= "HOW TO JOIN BREASTFEEDER TEAM ";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Rue MonSeigneur Begin<br />
    Jonquiere, QC 3780<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href=¨www.cegepjonquiere.ca">christian@cegepjonquiere.com</a><br />
</address>
